<table class="table table-bordered">
	<thead>
		<tr>
			<td>Nome</td>
			<td>Descrição</td>
			<td>Preço</td>
			<td>Remover</td>
		</tr>
	</thead>
	<tbody>
		<%= render  @produtos %>
	</tbody>
</table>